[submodule "external/luajit"]
	path = external/luajit
	url = git://repo.or.cz/luajit-2.0.git
[submodule "external/sphinx-lua"]
	path = external/sphinx-lua
	url = git://github.com/redjack/sphinx-lua
[submodule "external/lua"]
	path = external/lua
	url = git://github.com/haka-security/lua.git
[submodule "external/luaunit"]
	path = external/luaunit
	url = git://github.com/bluebird75/luaunit.git
[submodule "external/iniparser/src"]
	path = external/iniparser/src
	url = git://github.com/ndevilla/iniparser.git
